.vs
/ImmortalVentureService/packages
/ImmortalVentureService/ImmortalVentureService/bin
/ImmortalVentureService/ImmortalVentureService/obj
/ImmortalVentureService/ImmortalVentureView/obj
/ImmortalVentureService/ImmortalVentureView/bin
