.vs
/ImmortalVentureService/packages
/ImmortalVentureService/ImmortalVentureService/bin
/ImmortalVentureService/ImmortalVentureService/obj
/ImmortalVentureService/ImmortalVentureView/obj
/ImmortalVentureService/ImmortalVentureView/bin
/ImmortalVentureES/packages
/ImmortalVentureES/ЭС/obj
/ImmortalVentureES/ЭС/bin
/ImmortalVentureES/WebApi/obj
/ImmortalVentureES/WebApi/bin
/ImmortalVentureES/Tools/obj
/ImmortalVentureES/Tools/bin
/ImmortalVentureES/Classes/obj
/ImmortalVentureES/Classes/bin
