@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Водитель";
}



<div class="jumbotron">
    <h2>Водитель</h2>

    <div class="container">


        <div class="row">
            <div class="col col-xs-4">
                <a type="button" class="btn btn-success" href="/Home/Testing">Пройти тест на реакцию</a>
            </div>
            <div class="col col-xs-8">
                <p>Пройдите тест на реакцию, чтобы сосредоточиться перед поездкой и проверить свою готовность к движению на дороге.</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4">
                <a type="button" class="btn btn-success" href="#">Обратиться к врачу</a>
            </div>
            <div class="col col-xs-8">
                <p>Если Вы почувствовали недомогание, свяжитесь с дежурным врачом.</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Информация с датчиков</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4">
                Пульс
            </div>
            <div class="col col-xs-8">
                <span class="circle-green"></span>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4">
                Давление
            </div>
            <div class="col col-xs-8">
                <span class="circle-green"></span>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4">
                Температура
            </div>
            <div class="col col-xs-8">
                <span class="circle-green"></span>
            </div>
        </div>


    </div>

</div>

