@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Водитель";
}

@section superbutton {
    <a href="/Home/SuperviserDriver">Диспетчер</a>
}

<div class="jumbotron">
    <h2>Водитель</h2>

    <div class="container">


        <div class="row">
            <div class="col col-xs-4">
                <a id="btn_test" type="button" class="btn btn-success" href="/Home/Testing">Пройти тест на реакцию</a>
            </div>
            <div class="col col-xs-8">
                <p>Пройдите тест на реакцию, чтобы сосредоточиться перед поездкой и проверить свою готовность к движению на дороге.</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4">
                <a type="button" class="btn btn-success" href="#">Обратиться к врачу</a>
            </div>
            <div class="col col-xs-8">
                <p>Если Вы почувствовали недомогание, свяжитесь с дежурным врачом.</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Информация с датчиков</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4">
                Пульс
            </div>
            <div class="col col-xs-8">
                <span id="lamp_pulse" class="circle-green"></span>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4">
                Давление
            </div>
            <div class="col col-xs-8">
                <span id="lamp_pressure" class="circle-green"></span>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-4">
                Температура
            </div>
            <div class="col col-xs-8">
                <span id="lamp_temperature" class="circle-green"></span>
            </div>
        </div>


    </div>

</div>


@section scripts {

    <script>

        $(document).ready(function () {
            window.setTimeout(Demonstration1, 5 * 1000);
        });

        function CheckToEs(data) {
            // отправляем на сервер - делаем запрос к ЭС (с данными как бы из датчиков)
            var json = JSON.stringify(data);

            // todo: адрес из конфига
            var xmlHttp = new XMLHttpRequest(); // вообще-то json
            xmlHttp.open("POST", "http://immortalventureservice.azurewebsites.net/api/AskEs/AdaptValues", true); // false for synchronous request
            xmlHttp.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xmlHttp.onload = function () {
                var response = JSON.parse(xmlHttp.responseText);

                if (response["Fact"]["Value"] === "Хорошо") {
                    $('#lamp_pressure').removeClass('circle-yellow');
                    $('#lamp_pressure').addClass('circle-green');

                    $('#lamp_pulse').removeClass('circle-yellow');
                    $('#lamp_pulse').addClass('circle-green');
                }
                else {
                    $('#lamp_pressure').removeClass('circle-green');
                    $('#lamp_pressure').addClass('circle-yellow');

                    $('#lamp_pulse').removeClass('circle-green');
                    $('#lamp_pulse').addClass('circle-yellow');

                    blink();
                    setInterval(blink, 600);
                }
            }
            xmlHttp.onerror = function (err) {
                //alert('err ' + err);
            }

            xmlHttp.send(json);
        }

        function Demonstration1() {
            var data = {};
            data.Temperature = "36.6";
            data.PressureTop = "120";
            data.Pulse = "60";

            CheckToEs(data);

            window.setTimeout(Demonstration2, 2 * 1000);
        }

        function Demonstration2() {
            var data = {};
            data.Temperature = "36.6";
            data.PressureTop = "150";
            data.Pulse = "90";

            CheckToEs(data);
        }

        function blink() {
            if ($("#btn_test").hasClass('btn-err'))
                $("#btn_test").removeClass('btn-err');
            else
                $("#btn_test").addClass('btn-err');
        }

    </script>

}
