@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h2>Медосмотр</h2>

    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h3>Вид медосмотра</h3>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-12">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="pred" name="defaultExampleRadios">
                    <label class="custom-control-label" for="pred">Предрейсовый</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="post" name="defaultExampleRadios">
                    <label class="custom-control-label" for="post">Послерейсовый</label>
                </div>
            </div>
        </div>
    </div>

</div>
