@{
    ViewBag.Title = "Домашняя страница";
}
<div class="jumbotron">

    <div class="row">
        <div class="col col-xs-4">
            <img class="icons" src="~/Images/icon_doctor.jpg" />
        </div>

        <div class="col col-xs-4">
            <img class="icons" src="~/Images/icon_driver.jpg" />
        </div>

        <div class="col col-xs-4">
            <img class="icons" src="~/Images/icon_mechanic.jpg" />
        </div>
    </div>


    <div class="row width-padding-40">
        <div class="col col-xs-4">
            <a type="button" class="btn btn-success" href="/Home/MedicalView">Я врач</a>
        </div>

        <div class="col col-xs-4">
            <a type="button" class="btn btn-success" href="#">Я водитель</a>
        </div>

        <div class="col col-xs-4">
            <a type="button" class="btn btn-success" href="#">Я механик</a>
        </div>
    </div>


    <div class="row width-padding-40">
        <div class="col col-xs-4">
            <p>Зарегистрируйтесь на портале и получайте больше заказов на прохождение предрейсовых медосмотров от водителей.</p>
        </div>

        <div class="col col-xs-4">
            <p>Проверяйте состояние здоровья и контролируйте состояние траспортного средства для снижения аварийности.</p>
        </div>

        <div class="col col-xs-4">
            <p>Ведите свою собственную электронную запись и получайте больше заказов на проведение ТО.</p>
        </div>
    </div>


</div>