@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Список врачей";
}



<div class="jumbotron">
    <h2>Врачи</h2>

    <div class="container">
        <div class="row">
            <div class="col col-xs-6">
                <a type="button" class="btn btn-success-inverse" href="#"><span class="glyphicon glyphicon-plus"></span>Добавить врача</a>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Сертификат</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Иванов</td>
                        <td>Иван</td>
                        <td>Иванович</td>
                        <td>Сертификат</td>
                        <td>Логин</td>
                        <td>Пароль</td>
                    </tr>
                    <tr>
                        <td>Петров</td>
                        <td>Петр</td>
                        <td>Петрович</td>
                        <td>Сертификат</td>
                        <td>Логин</td>
                        <td>Пароль</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>

</div>

