@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Список водителей";
}



<div class="jumbotron">
    <h2>Водители</h2>

    <div class="container">
        <div class="row">
            <div class="col col-xs-6">
                <a type="button" class="btn btn-success-inverse" href="#"><span class="glyphicon glyphicon-plus"></span>Добавить водителя</a>
            </div>
        </div>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Здоровье</th>
                        <th>Машина</th>
                        <th>Номер машины</th>
                        <th>Логин</th>
                        <th>Пароль</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Сидоров</td>
                        <td>Сидор</td>
                        <td>Сидорович</td>
                        <td><span class="circle-green"></span></td>
                        <td><span class="circle-green"></span></td>
                        <td>А123АА59</td>
                        <td>Логин</td>
                        <td>Пароль</td>
                    </tr>
                    <tr>
                        <td>Кузнецов</td>
                        <td>Дмитрий</td>
                        <td>Антонович</td>
                        <td><span class="circle-green"></span></td>
                        <td><span class="circle-yellow"></span></td>
                        <td>А123АА59</td>
                        <td>Логин</td>
                        <td>Пароль</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>

</div>

