@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Тестирование";
}



<div class="jumbotron">
    <h2>Тестирование</h2>

    <div class="container">

        <div class="row">
            <div class="col col-xs-6">
                <img src="~/Images/testing.png" height="480" width="480" />
            </div>

            <div class="col col-xs-6">
                <p>Нажмите на красный квадрат и двигайте его, избегая синих квадратов и краев.</p>
                <p>< 5 сек. - результат новичка, или человека, который просто не понял правил;</p>
                <p>5-9 сек. - очень слабая скорость реакии, человек еще не проснулся;</p>
                <p>10-15 сек. - нормальная реакция среднестатистического человека.</p>
            </div>
        </div>

    </div>

</div>

