@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Тестирование";
}



<link href="/Scripts/all2_3.css" rel=stylesheet type="text/css">

<STYLE TYPE="text/css">
    .textstyle0 {
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        text-decoration: underline;
        color: #bad3ba;
    }

    .textstyle1 {
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        text-decoration: normal;
        color: #bad3ba;
    }

    .textstyle2 {
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 12pt;
        text-decoration: normal;
        color: #ffffff;
    }

    .textstyle3 {
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 12pt;
        text-decoration: normal;
        color: #ffffff;
    }

    .textstyle4 {
        font-family: Arial;
        font-weight: normal;
        font-style: normal;
        font-size: 10pt;
        text-decoration: normal;
        color: #ffffff;
    }

    .textstyle5 {
        font-family: Arial;
        font-weight: bold;
        font-style: normal;
        font-size: 10pt;
        text-decoration: normal;
        color: #ffffff;
    }
</STYLE>

<STYLE TYPE="text/css">
    DIV.Object1 {
        position: absolute;
        top: 460px;
        left: 43px;
        z-index: 1;
    }

    DIV.Object10 {
        position: absolute;
        top: 555px;
        left: 114px;
        z-index: 1;
    }

    DIV.Object100 {
        position: absolute;
        top: 580px;
        left: 43px;
        z-index: 3;
    }

    DIV.Object300 {
        position: absolute;
        top: 290px;
        left: 468px;
        z-index: 4;
    }

    DIV.Object301 {
        position: absolute;
        top: 290px;
        left: 606px;
        z-index: 4;
    }
</STYLE>



<div class="jumbotron">
    <h2>Тестирование</h2>

    <div class="container">

        <div class="row">
            <div class="col col-xs-6">
                <!--------------------------------------------------------------------->
                <!--<BODY text=#000000 BGCOLOR="#f5f5dc" leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">-->

                <DIV id=box style="LEFT: 205px; WIDTH: 40px; POSITION: absolute; TOP: 205px; HEIGHT: 40px; BACKGROUND-COLOR: #990000; layer-background-color: #990000">
                    <TABLE height=40 width=40>
                        <TBODY>
                            <TR>
                                <TD>&nbsp;</TD></TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </DIV>
                <DIV id=enemy0
                     style="LEFT: 270px; WIDTH: 60px; POSITION: absolute; TOP: 60px; HEIGHT: 50px; BACKGROUND-COLOR: #000099; layer-background-color: #000099">

                    <TABLE height=50 width=60>
                        <TBODY>
                            <TR>
                                <TD>&nbsp;</TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </DIV>
                <DIV id=enemy1
                     style="LEFT: 300px; WIDTH: 100px; POSITION: absolute; TOP: 330px; HEIGHT: 20px; BACKGROUND-COLOR: #000099; layer-background-color: #000099">
                    <TABLE height=20 width=100>
                        <TBODY>
                            <TR>
                                <TD>&nbsp;</TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </DIV>
                <DIV id=enemy2
                     style="LEFT: 70px; WIDTH: 30px; POSITION: absolute; TOP: 320px; HEIGHT: 60px; BACKGROUND-COLOR: #000099; layer-background-color: #000099">
                    <TABLE height=60 width=30>

                        <TBODY>
                            <TR>
                                <TD>&nbsp;</TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </DIV>
                <DIV id=enemy3
                     style="LEFT: 70px; WIDTH: 60px; POSITION: absolute; TOP: 70px; HEIGHT: 60px; BACKGROUND-COLOR: #000099; layer-background-color: #000099">
                    <TABLE height=60 width=60>
                        <TBODY>
                            <TR>
                                <TD>&nbsp;</TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </DIV>
                <TABLE cellSpacing=0 cellPadding=0 border=0>
                    <!-- row 1 -->
                    <TBODY>

                        <TR>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>

                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR><!-- row 2 -->
                        <TR>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>

                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR><!-- row 3 -->
                        <TR>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>

                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR><!-- row 4 -->
                        <TR>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>

                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR><!-- row 5 -->
                        <TR>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>

                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR><!-- row 6 -->
                        <TR>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>

                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR><!-- row 7 -->
                        <TR>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>

                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR><!-- row 8 -->
                        <TR>
                            <TD width=50 bgColor=#000000 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>

                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR><!-- row 9 -->
                        <TR>

                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>

                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>

                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>

                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>

                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                            <TD width=50 bgColor=#000000 height=50>
                                <TABLE>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                            </TD>
                        </TR>
                    </TBODY>
                </TABLE>



                <!--------------------------------------------------------------------->
            </div>

            <div class="col col-xs-6">
                <p>Нажмите на красный квадрат и двигайте его, избегая синих квадратов и краев.</p>
                <p>< 5 сек. - результат новичка, или человека, который просто не понял правил;</p>
                <p>5-9 сек. - очень слабая скорость реакии, человек еще не проснулся;</p>
                <p>10-15 сек. - нормальная реакция среднестатистического человека.</p>
            </div>
        </div>

    </div>

</div>


@section scripts{
    <script>
        $(document).ready(function () {
            document.onmousedown = start;
            document.onmousemove = checkLocation;
            document.onmouseup = stop;
        });
    </script>


    <SCRIPT language=JavaScript type=text/javascript>

        isNS4 = (document.layers) ? true : false;
        isIE4 = (document.all && !document.getElementById) ? true : false;
        isIE5 = (document.all && document.getElementById) ? true : false;
        isNS6 = (!document.all && document.getElementById) ? true : false;

        var curX, curY, curX2, curY2, boxX, boxY, moving = 0, touch = 0, tmp, tmp2;
        var gametime = 0, started = 0, speed = 40, next = 0;
        var starttime, endtime, finaltime = 0; //pass finaltime to popup window to ask for initials
        var enemyxdir = new Array(1, 1, 1, 1);
        var enemyydir = new Array(1, 1, 1, 1);
        var x1, y1, x2, y2, x3, y3, x4, y4, gen;

        if (isNS4 || isNS6) {
            document.captureEvents(Event.MOUSEUP | Event.MOUSEDOWN | Event.MOUSEMOVE);
        }

        function startclock() { var today = new Date(); starttime = today.getTime(); }
        function endclock() { var today = new Date(); endtime = today.getTime(); }
        function calctime() { var time = (endtime - starttime - 0) / 1000; return time; }

        function giveposX(divname) {
            if (divname === 'box') {
                return $('#' + divname).css('left');
            }
            else {
                return $('#' + divname).position().left;
            }
        }

        function giveposY(divname) {
            if (divname === 'box') {
                return $('#' + divname).css('top');
            }
            else {
                return $('#' + divname).position().top;
            }
        }

        function setposX(divname, xpos) {
            $('#' + divname).css({ left: xpos });
        }

        function setposY(divname, ypos) {
            if (divname === 'enemy3')
                console.trace('curr=' + $('#box').css('top') + ' new=' + ypos);

            $('#' + divname).css({ top: ypos });

            if (divname === 'enemy3')
                console.trace('curr=' + $('#box').css('top'));
        }

        function givesize(divname, dimension) {
            var divsize = 0;
            if (dimension == 'y') {
                if (isNS4) divsize = document.layers[divname].clip.height;
                else if (isIE4 || isIE5) divsize = document.all(divname).style.pixelHeight;
                else if (isNS6) divsize = parseInt(document.getElementById(divname).style.height + "");
            }
            else if (dimension == 'x') {
                if (isNS4) divsize = document.layers[divname].clip.width;
                else if (isIE4 || isIE5) divsize = document.all(divname).style.pixelWidth;
                else if (isNS6) divsize = parseInt(document.getElementById(divname).style.width + "");
            }

            return divsize;
        }

        // check to see if 'box' is touching 'enemy1'
        function checktouching(num) {
            var enemy = "enemy" + num + ""
            var difX = $('#box').position().left - $('#' + enemy).position().left - 0; // -0 converts to integer
            var difY = $('#box').position().top - $('#' + enemy).position().top - 0 ;


            // set touch = 1 if it is touching an enemy
            if (difX > (-1 * givesize('box', 'x')) && difX < givesize(enemy, 'x') && difY > (-1 * givesize('box', 'y')) && difY < givesize(enemy, 'y')) {
                touch = 1;
            }
            else touch = 0;

        }

        function movenemy(num, step_x, step_y) {

            var enemy = "enemy" + num + ""
            var enemyx = givesize(enemy, 'x');
            var enemyy = givesize(enemy, 'y');

            if (giveposX(enemy) >= (450 - enemyx) || giveposX(enemy) <= 0) {
                enemyxdir[num] = -1 * enemyxdir[num];
            }
            if (giveposY(enemy) >= (450 - enemyy) || giveposY(enemy) <= 0) {
                enemyydir[num] = -1 * enemyydir[num];
            }

            var newposx = giveposX(enemy) + (step_x * enemyxdir[num]) + 0;
            var newposy = giveposY(enemy) + (step_y * enemyydir[num]) + 0;

            setposX(enemy, newposx);
            setposY(enemy, newposy);

            checktouching(num + "");
            if (touch == 1) {
                stop(); reset();
            }
        }

        function rand(number) {
            return Math.ceil(Math.random() * number);
        };

        function rt() {
            return rand(30) - 13;
        }

        function rx() {
            tmp = rt();

            while (Math.abs(tmp) < 3) {
                tmp = rt();
            }

            return tmp;
        }


        function movenemies() {

            gametime = gametime + 1

            next = next + 1;

            if ((next == 10) & (speed > 1)) {
                speed = speed - 1;
                next = 0;
            }

            if (speed < 1)
                speed = 1;

            if (gen != 1) {
                x1 = rx();
                y1 = rx();
                x2 = rx();
                y2 = rx();
                x3 = rx();
                y3 = rx();
                x4 = rx();
                y4 = rx();

                gen = 1;
            }
            //	window.status = "next: " + next + " speed:  " + speed + "   gametime: " + gametime;

            movenemy(0, x1, y1);
            movenemy(1, x2, y2);
            movenemy(2, x3, y3);
            movenemy(3, x4, y4);

            setTimeout(movenemies, speed);
        }

        function start(e) {
            if (started == 0) {
                movenemies();
                startclock();
                started = 1;
            }

            curX = (isNS4 || isNS6) ? e.pageX : window.event.x;
            curY = (isNS4 || isNS6) ? e.pageY : window.event.y;

            curX -= $('#box').parent().position().left;
            curY -= $('#box').parent().position().top;

            curX2 = eval(curX - 40);
            curY2 = eval(curY - 40);

            boxX = eval(curX - 20);
            boxY = eval(curY - 20);

            var boxleft = giveposX('box');
            var boxtop = giveposY('box');

            //alert('curX=' + curX + '; curX2=' + curX2 + 'boxleft=' + boxleft);

            //alert(curX2 < boxleft);
            //alert(curY > boxtop);

            if (/*curX > boxleft && curX2 < boxleft && curY > boxtop && curY2 < boxtop*/ true) {

                moving = 1;


                console.trace('curX=' + curX + ' curX2=' + curX2 + ' boxleft=' + boxleft + ' boxX=' + boxX);
                console.trace('curY=' + curY + ' curY2=' + curY2 + ' boxtop=' + boxtop + ' boxY=' + boxY)

                setposX('box', boxX);
                setposY('box', boxY);

                if (isNS4 || isNS6) {
                    document.captureEvents(Event.MOUSEMOVE);
                }
            }
        }

        function stop(e) {
            moving = 0;
            if (isNS4 || isNS6) {
                document.releaseEvents(Event.MOUSEMOVE);
            }
        }

        function reset(e) {
            //alert('1');
            endclock();
            moving = 0;
            if (isNS4 || isNS6) {
                document.releaseEvents(Event.MOUSEMOVE);
            }
            if (finaltime == 0) {
                finaltime = calctime();
                window.alert('Ваш результат ' + finaltime + ' секунд');

                //		var entername = window.confirm('Enter your name?');
                //			if (entername) {
                //			window.open("?" + finaltime,'winwin','width=300,height=500,left=40,top=40,status=1,resizable');
                //			document.location.reload();
                //			}
                //			else document.location.reload();
                document.location.reload();
            }
        }

        function checkLocation(e) {

            curX = (isNS4 || isNS6) ? e.pageX : window.event.x;
            curY = (isNS4 || isNS6) ? e.pageY : window.event.y;

            curX -= $('#box').parent().position().left;
            curY -= $('#box').parent().position().top;

            boxX = eval(curX - 20);
            boxY = eval(curY - 20);

            checktouching('1');

            if (moving == 1 && touch == 0) {
                setposX('box', boxX);
                setposY('box', boxY);
                //alert('2');
                if (curY > 69 && curX > 69 && curY < 381 && curX < 381)
                    return false;
                else stop();
                reset();
            }

            else if (touch == 1) {
                stop();
                reset();
            }

        }

    </SCRIPT>

}
