html {
    font-family: 'Roboto', sans-serif;
}

body {
    /*padding-top: 200px;*/
    background-size: 120px;
    background-image: url('../Images/back.png');
    font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.width-padding-40 .col {
    padding-left: 40px;
    padding-right: 40px;
}

.btn {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-success {
    background-color: #26A69A;
    border-color: #26A69A;
}

.btn-err {
    background-color: darkred !important;
    border-color: darkred !important;
}

.btn-success-inverse {
    background-color: #FFFFFF;
    border-color: #26A69A;
    color: #26A69A;
}

.btn-success-inverse:hover {
    background-color: #FFFFFF;
    border-color: #26A69A;
    color: #26A69A;
}

#logo_header {
    height: 99px;
    width: 99px;
    margin-left: 48px;
    margin-top: 31px;
}

.my-navbar {
    background-color: #26A69A;
    border-color: #C4C4C4;
    height: 200px;
    border-bottom-width: 38px;
    color: white;
    position: static;
    margin-bottom: 0;
}


.center-container {
    display: flex;
}

.center-content {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-header a {
    color: white;
    margin-right: 50px;
}

.navbar-header a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.white-border {
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 10px;
}

footer {
    background-color: #26A69A;
    border-color: #C4C4C4;
    height: 150px;
    border: solid 0;
    border-top: 38px #C4C4C4 solid;
    color: white;
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
}

.jumbotron {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}

img.icons {
    border-radius: 50%;
    background-color: #26A69A;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.circle-green:before {
    content: ' \25CF';
    font-size: 60px;
    color: lawngreen;
    line-height: 15px;
}

.circle-yellow:before {
    content: ' \25CF';
    font-size: 60px;
    color: yellow;
    line-height: 15px;
}

.circle-red:before {
    content: ' \25CF';
    font-size: 60px;
    color: red;
    line-height: 15px;
}








.padding-top-10 {
    padding-top: 10px;
}

.padding-top-30 {
    padding-top: 30px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-30 {
    font-size: 30px;
}